{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          { "modules": false }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          { "modules": "umd" }
        ]
      ]
    }
  },
  "ignore": [
    "node_modules/**",
    "*.test.js"
  ]
}
